[Unit]
Description=DFRobot UPS Monitor
After=multi-user.target

[Service]
User=%i
WorkingDirectory=%h/virtual_lab
ExecStart=/usr/bin/python3 %h/virtual_lab/dfrobot_ups.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target