[Unit]
Description=Virtual Embedded Lab
After=network.target audio_stream.service
Requires=audio_stream.service

[Service]
User=%i
WorkingDirectory=%h/virtual_lab
ExecStart=%h/virtual_lab/venv/bin/python app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
