sudo tee /etc/systemd/system/vlabiisc.service > /dev/null <<EOF
[Unit]
Description=Virtual Embedded Lab
After=network.target

[Service]
Type=simple
User=$REAL_USER
WorkingDirectory=$PROJECT_DIR
ExecStart=$VENV_PY app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
